.main {
    width: 100%;
    //height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    flex: 1 0 auto;
    
    @include tablets {
        
    }
}

.fixes {
    flex: 1 1 50%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(72,177,176,0.49) 0%,rgba(25,64,174,0.49) 100%), url('../../assets/image/fixes-img.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    @include tablets {
        flex: 1 1 100%;
    }
}

.main__content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.275rem;
}

.fixes-line {
    font-family: 'high-tide';
    font-size: 5.15rem;
    color: #fff;
}

.hisper-style {
    font-size: 3.125rem;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
}

.main__btn {
    padding:  2.188rem 3.125rem;
    background: rgba(255,255,255,0.12);
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    transition: 500ms;
    &:hover {
        cursor: pointer;
        background: rgba(255,255,255,0.32);
    }
}

.cruissers {
    flex: 1 1 50%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgba(225,146,255,0.49) 0%,rgba(126,49,192,0.49) 100%), url('../../assets/image/cruissers-img.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    @include tablets {
        flex: 1 1 100%;
    }
}

.cruissers-line {
    font-family: 'high-tide';
    font-size: 5.15rem;
    color: #fff;
}

.hippie-style {
    font-size: 3.125rem;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
}

